<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
 
</head>
<body>     
<header id='header'>
    <div class="inside">
        <div class="logo-container">
            <a href="/">
                <i class="fa fa-film" aria-hidden="true"></i>
                <span class="header-title">Flixers</span>
            </a>
        </div>
        <ul class="header-nav"> 
            <li><a href="/">Home</a></li>
            <li class="genre_tag">Genres</li> 
        </ul>
        <div class="login-register">
            <a href="">Login/Register</a>
        </div>
    </div>
</header>

<div class="genres">
    <div class="inside-genres ">
        <div class="genre-containers">
            <li>Action</li>
            <li>Comedy</li>
            <li>Family</li>
        </div>
        <div class="genre-containers">
            <li>Thriller</li>
            <li>Drama</li>
            <li>romance</li>
        </div>

    </div>
</div>