<%- include('partials/header.ejs') -%>
<section id="intro-section">
    <!-- <div class="inside">
        <div class="description">
            <h1>
                welcome to flixers <br>
                Find and stream your favorite movies now
            </h1>
        </div>
    </div> -->

        <div class="slide-show">
            <div class=" slides slide-1"></div> 
            <div class=" slides slide-2"></div>   
            <div class="slides slide-3"></div>   
            <div class="slides slide-4"></div>   
            <div class="slides slide-5"></div>        
        </div>
   
       
</section>

<section id="content-section">
    <div class="header-title">
        <h3>Streaming Now</h3>
    </div>
    <hr class="hr-line">
    <div class="content">
        <div class="container group">
            <div class="movie-box">
                <a href="#">
                    <div class="movie">
                        <img src="https://img.myflixer.to/xxrz/250x400/201/fc/ca/fcca4cc65e1b45cf142dd4a283ec5020/fcca4cc65e1b45cf142dd4a283ec5020.jpg" alt="">
                        <div class="movie-background">
                            <div class="circle-icon">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                           
                        </div> 
                    </div>
                </a>
                <div class="movie-description">
                    <div class="details">
                        <span>Unhinged</span>
                        <span>2020 . 89m</span>
                    </div>
                </div>
            </div>
            <div class="movie-box">
                <a href="#">
                    <div class="movie">
                        <img src="https://img.myflixer.to/xxrz/250x400/201/fc/ca/fcca4cc65e1b45cf142dd4a283ec5020/fcca4cc65e1b45cf142dd4a283ec5020.jpg" alt="">
                        <div class="movie-background">
                            <div class="circle-icon">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                           
                        </div> 
                    </div>
                </a>
                <div class="movie-description">
                    <div class="details">
                        <span>Unhinged</span>
                        <span>2020 . 89m</span>
                    </div>
                </div>
            </div>
            <div class="movie-box">
                <a href="#">
                    <div class="movie">
                        <img src="https://img.myflixer.to/xxrz/250x400/201/fc/ca/fcca4cc65e1b45cf142dd4a283ec5020/fcca4cc65e1b45cf142dd4a283ec5020.jpg" alt="">
                        <div class="movie-background">
                            <div class="circle-icon">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                           
                        </div> 
                    </div>
                </a>
                <div class="movie-description">
                    <div class="details">
                        <span>Unhinged</span>
                        <span>2020 . 89m</span>
                    </div>
                </div>
            </div>
            <div class="movie-box">
                <a href="#">
                    <div class="movie">
                        <img src="https://img.myflixer.to/xxrz/250x400/201/fc/ca/fcca4cc65e1b45cf142dd4a283ec5020/fcca4cc65e1b45cf142dd4a283ec5020.jpg" alt="">
                        <div class="movie-background">
                            <div class="circle-icon">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                           
                        </div> 
                    </div>
                </a>
                <div class="movie-description">
                    <div class="details">
                        <span>Unhinged</span>
                        <span>2020 . 89m</span>
                    </div>
                </div>
            </div>
            <div class="movie-box">
                <a href="#">
                    <div class="movie">
                        <img src="https://img.myflixer.to/xxrz/250x400/201/fc/ca/fcca4cc65e1b45cf142dd4a283ec5020/fcca4cc65e1b45cf142dd4a283ec5020.jpg" alt="">
                        <div class="movie-background">
                            <div class="circle-icon">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                           
                        </div> 
                    </div>
                </a>
                <div class="movie-description">
                    <div class="details">
                        <span>Unhinged</span>
                        <span>2020 . 89m</span>
                    </div>
                </div>
            </div>
            <div class="movie-box">
                <a href="#">
                    <div class="movie">
                        <img src="https://img.myflixer.to/xxrz/250x400/201/fc/ca/fcca4cc65e1b45cf142dd4a283ec5020/fcca4cc65e1b45cf142dd4a283ec5020.jpg" alt="">
                        <div class="movie-background">
                            <div class="circle-icon">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                           
                        </div> 
                    </div>
                </a>
                <div class="movie-description">
                    <div class="details">
                        <span>Unhinged</span>
                        <span>2020 . 89m</span>
                    </div>
                </div>
            </div>
            <div class="movie-box">
                <a href="#">
                    <div class="movie">
                        <img src="https://img.myflixer.to/xxrz/250x400/201/fc/ca/fcca4cc65e1b45cf142dd4a283ec5020/fcca4cc65e1b45cf142dd4a283ec5020.jpg" alt="">
                        <div class="movie-background">
                            <div class="circle-icon">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                           
                        </div> 
                    </div>
                </a>
                <div class="movie-description">
                    <div class="details">
                        <span>Unhinged</span>
                        <span>2020 . 89m</span>
                    </div>
                </div>
            </div>
            <div class="movie-box">
                <a href="#">
                    <div class="movie">
                        <img src="https://img.myflixer.to/xxrz/250x400/201/fc/ca/fcca4cc65e1b45cf142dd4a283ec5020/fcca4cc65e1b45cf142dd4a283ec5020.jpg" alt="">
                        <div class="movie-background">
                            <div class="circle-icon">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                           
                        </div> 
                    </div>
                </a>
                <div class="movie-description">
                    <div class="details">
                        <span>Unhinged</span>
                        <span>2020 . 89m</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pagination-section">
    <div class="pagination-container">
        <div class="pagination-box ">
            <div class="pagination-circle active">
                <span>1</span>
            </div>
            <div class="pagination-circle">
                <span>2</span>
            </div>
            <div class="pagination-circle">
                <span>3</span>
            </div>
        </div>
    </div>
</section>




<%- include('partials/footer.ejs') -%>