<%- include('partials/header.ejs') -%>

<section id="movie-background">
    <div class="background-color">
        <a href="/movie">
            <div class="play-circle">
                <i class="fa fa-play-circle" aria-hidden="true"></i>
            </div>
        </a>
        <div class="inside">
            <div class="breadcrumb">
                <a href="/">Home</a>
                <a>/</a>
                <a href="/movie">Movie</a> 
            </div>
        </div>
    </div>
</section>

<section id="description-box">
    <div class="inside-box">
        <div class="movie-img">
            <img src="https://img.myflixer.to/xxrz/250x400/201/9d/0f/9d0fe6f16f205e483df14817753c1b0d/9d0fe6f16f205e483df14817753c1b0d.jpg" alt="">
        </div>
        <div class="movie-details">
            <a href="#">
                <div class="play-btn">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </div>
            </a>
            <div class="title">
                <span>Avatar</span>
            </div>
            <hr class="hr">
            <div class="ratings">
                <span class="hd">HD</span>
                <span class="imdb"> IMDB: 7.8</span>
            </div>
            <div class="description">
                <span>From the 22nd century, there is a Marine dispatched to the moon Pandora on a exceptional mission, however becomes protecting an alien civilization and torn between following orders.</span>
            </div>
            <div class="extras">
                <div class="column-1">
                    <div class="inside-column">
                        <span class="bold">Release:</span>
                        <span> 2009-12-10</span>
                       
                    </div>
                    <div >
                        <span class="bold"> Genre: </span>
                        <span> Action</span>
                          
                    </div>
                </div>
                <div class="column-2">
                    <div class="inside-column">
                        <span class="bold">  Duration:</span>
                        <span>  162 min</span>    
                    </div>
                    <div>
                        <span class="bold"> Casts: </span>
                        <span>  Sigourney Weaver, Stephen Lang, David Van Horn, Luke Hawker, Lucy Briant</span> 
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

<section id="extra-movies">
    <div class="title">
        <span>Coming Soon</span>
    </div>
    <hr class="hr-line">
    <div class="movies-area">
        <div class="inside-movie-area">
            <div class="movie-box">
                <div class="movie">
                    <img src="https://img.myflixer.to/xxrz/250x400/201/63/42/6342824f71b6d8a2d800cfd270c32052/6342824f71b6d8a2d800cfd270c32052.jpg" alt="">

                </div>
                <span class="movie-title"></span>
            </div>
            <div class="movie-box">
                <div class="movie">
                    <img src="https://img.myflixer.to/xxrz/250x400/201/4a/8f/4a8f61acdf1e159807592273c111826d/4a8f61acdf1e159807592273c111826d.jpg" alt="">

                </div>
                <span class="movie-title"></span>
            </div>
            <div class="movie-box">
                <div class="movie">
                    <img src="https://img.myflixer.to/xxrz/250x400/201/a5/b6/a5b613c18165a8c6639912ca4057111c/a5b613c18165a8c6639912ca4057111c.jpg" alt="">

                </div>
                <span class="movie-title"></span>
            </div>
            <div class="movie-box">
                <div class="movie">
                    <img src="https://img.myflixer.to/xxrz/250x400/201/b7/b4/b7b4c8eb4cc9d6405d0d523ad705a5a7/b7b4c8eb4cc9d6405d0d523ad705a5a7.jpg" alt="">

                </div>
                <span class="movie-title"></span>
            </div>
            <div class="movie-box">
                <div class="movie">
                    <img src="https://img.myflixer.to/xxrz/250x400/201/67/2f/672f832cf6ac5e1ef0a715aec88d967c/672f832cf6ac5e1ef0a715aec88d967c.jpg" alt="">

                </div>
                <span class="movie-title"></span>
            </div>
           
        </div>
    </div>
    <hr class="hr">
</section>


<%- include('partials/footer.ejs') -%>









































