

/* INTRO SECTION */
#intro-section {
    object-fit: cover;
    object-position: center;
    position: relative;
    height: 480px;
    width: 100%;
    top: -148px;
}

/* #intro-section .inside {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 0 30px;
    display: grid;
    width: 100%;

} */


#intro-section .slide-show {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    background: rgba(0,0, 0, .9);
    position: absolute;

}
  
   

 

#intro-section .slide-show .slides {
 
  background-size: cover;
  object-fit: contain;
  object-position: center;
  opacity: 0;
  z-index: 0;
  animation: slideShow 50s  linear infinite;
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center ;
}


#intro-section .slide-show .slide-1{
 
    background: center -200px no-repeat url(https://image.cnbcfm.com/api/v1/image/106663814-1597408537518-unhinged_Cropped.jpg?v=1597409441&w=1600&h=900) ;

}



#intro-section .slide-show .slide-2{
    background: no-repeat url(https://wallpaperaccess.com/full/329583.jpg) ;
    animation-delay: 10s; 

}

#intro-section .slide-show .slide-3{
    background: center -400px no-repeat url(https://www.dreamwallpapers.co.uk/wp-content/uploads/2010/08/inception-movie-leonardo-dicaprio-7.jpg) ;
    animation-delay: 20s; 
    
}


#intro-section .slide-show .slide-4{
    background:  center -100px no-repeat url(https://images3.alphacoders.com/104/thumb-1920-1041825.jpg) ;
    animation-delay: 30s; 
   
}
#intro-section .slide-show .slide-5{
    background:  no-repeat url(https://images.wallpapersden.com/image/download/zoe-saldana-from-avatar-movie_68553_1920x1080.jpg) ;
    animation-delay: 40s; 
}



@keyframes slideShow {
    0% { 
        opacity: 0; 
        animation-timing-function: ease-in;
      }
      10% {
        opacity: 1;
       
      }
      20% {
        opacity: 1
      }

      30% {
        opacity: 1
      }
      40% {
        opacity: 0;
        animation-timing-function: ease-out;
      }
  

}



#intro-section .inside .description {

  text-align: center;
  position: relative;
 top: 194px;
}
#intro-section .inside .description h1 {
    position: relative;
  text-transform: capitalize;
  font-size: 3rem;
  z-index: 3;
 font-weight: 300;
  color: white;


}

/* CONTENT SECTION */

#content-section {
    position: relative;
    top: -100px;
    padding:0px 0;
}

#content-section .header-title {
    margin: 0  0 5px;
    display: inline-block;
}


#content-section .header-title h3 {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    position: relative;
    left: 20px;
    width: 100%;
    
}



#content-section hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 0 20px;
    width: 500px;
    
}


#content-section .content .container {
    max-width: 1200px;
    margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(4,20%);
  grid-gap: 35px
}



#content-section .content .container .movie {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 375px;
    max-width: 250px;
    max-height: 375px;
 
  
}

#content-section .content .container .movie .movie-background {
    background: rgba( 0,0, 0, 0.75);
    transition: all ease-in-out .3s;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0; 

}

#content-section .content .container .movie .movie-background:hover {
    opacity: 1;
   

}

#content-section .content .container .movie .movie-background {
 
}


#content-section .content .container .movie .movie-background .circle-icon {
    height: 75px;
    width: 75px;
    background: #144184;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

 
}


#content-section .content .container .movie .movie-background .circle-icon .fa {
   font-size: 2rem;

 
}




#content-section .content .container  .movie-description {
    position: relative;
    top: 7px;
    left: 2px;

}


/* PAGINATION */

#pagination-section {
    padding: 0px 0 100px;
    margin: 0 auto;
}

#pagination-section  .pagination-container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    left: -67px;

   
}

#pagination-section .pagination-container .pagination-box {
    position: absolute;
    left:0 ;
    right: 0;
    background: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
   
}



#pagination-section .pagination-container .pagination-box .pagination-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #144184;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    transition: all .3s ease-in-out;
    
}


#pagination-section .pagination-container .pagination-box .pagination-circle.active {
    background: #3E8AFA ;
  

}


#pagination-section .pagination-container .pagination-box .pagination-circle:hover {
    background: #3E8AFA ;
  

}